.item {
  padding: 10px;
  padding-bottom: 40px;
  border: 1px solid lightgray;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.buy-button {
  display: block;
  padding: 10px 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}